p{
  font-family:Montserrat;
  padding-top : 0px;
  padding-bottom : 0px;
}
.line-one{
  font-weight : bold;
  font-size : 30px;
  padding-left : 50px;
  padding-bottom : 5px;
}
.line-two {
  font-size : 16px;
}
.text{
  text-decoration : underline;
  cursor : pointer;
}
